{%extends 'base.html' %}
{%block title%} Create New Topic {% endblock %}
{% load widget_tweaks%}

{%block breadcrumb%}
    <li class="breadcrumb-item"><a href="{%url 'index'%}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topic' board.pk%}">{{board.name}}</a></li>
    <li class="breadcrumb-item active">New Topic</li>
{% endblock %}

{%block content%}
<form method="post" novalidate>
    {% csrf_token%}
    {% include  'includes/form.html'%}
    <button type="submit" class="btn btn-primary"> add</button>
</form>
{% endblock %}