{%extends 'base.html' %}
{%load static %}
{%block title%} {{topic.subject}} {% endblock %}

{%block breadcrumb%}
    <li class="breadcrumb-item"><a href="{%url 'index'%}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{%url 'board_topic' topic.board.pk%}">{{topic.board.name}}</a></li>
    <li class="breadcrumb-item active">{{topic.subject}}</li>
{% endblock %}

{%block content%}
<div class="row">
    <a class="btn btn-primary" href="{% url 'reply' topic.board.pk topic.pk%}">Add reply</a>
</div>
{%for post in topic.posts.all%}

<div class="row">
    <div class="col-2">
        <img src="{% static 'img/iconfinder_8_avatar_2754583.png'%}" class="w-100" >
    </div>
    <div class="col-10">
        <p>{{post.created_by.username}}</p>
        <p>{{post.message}}</p>
        <p>{{post.created_dt}}</p>
        {% if post.created_by == user %}
        <a href="#" class="btn btn-primary">Edit</a>
        {% endif%}
    </div>

</div>
{%endfor%}

{% endblock %}

